# Actual Budget Server Settings
ACTUAL_SERVER_URL=https://budget.cloud.jacobmiller22.com
ACTUAL_PASSWORD=your_actual_password_here
ACTUAL_SYNC_ID=a2bf28aa-7ae9-4948-837c-346f4e91d346

# Optional data directory for local Actual sync files cache
# ACTUAL_DATA_DIR=./.actual-data
